body{
    width:60%;
    height:100%;
    position:relative;
    margin:auto;
    background-image: url("../img/background.jpg");
}

.mainPart{
    width:100%;
    background-color:#ffffff;
}
.header {
    color:#000000;
    text-align:center;
    font-weight:bold;
    padding-top:3%;
    height: 20%
}
.body{
    height:65%;
}
.footer{
    width:100%;
    text-align:center;
    font-size: 1vw;
    border-top: solid gray 1px;
    padding-top: 1.5%;
    margin-bottom: 0px;
    padding-bottom: 3%;
    height: 15%;
    
}
.title{
    width:50%;
    padding-bottom:2%;
    margin-left:25%;
}

.option{
    display:inline;
    padding-right: 3%;
    float:right;
    width: 20%;
    height: 40%;
    margin-top: 3%;
}

.username{
/*    line-height: 3%;*/
    font-size: 1.3vw;
    cursor:pointer;
}
#logout{
/*    line-height: 30px;*/
    font-size: 1.3vw;
    cursor:pointer;
}
#link{
    margin-bottom: 4%;
}
.search{
    height: 30%;
}
.option input{
/*    height: 20%;*/
    width: 80%;
    margin-top: 1%;
    font-size: 1vw;
}
.option img{
    position: absolute;
    left: 93%;
    margin: 0.7% 1% 0 0;
    width: 1.5%;
}

/******** Menu ********/
.menu {
    width:100%;
    padding: 2% 0 2%;
    margin:0;
    position: relative;
    background-color: #bf63bc;
    font-family: 'Economica', Curlz MT;
    z-index: 99;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.menu ul {
    position: absolute;
    display: none;
}
.menu li {
    display: inline-block;
    float: none;
    font-size: 2vw;
    line-height: 80%;
    position:relative;
    cursor: pointer;
    width: 14%;
    float:left;
    margin: 0 3% 0 3%;
}
.menu li:hover {
    background-color:#eecaf0;
    display: inline-block;
    float: none;
    font-size: 2vw;
    line-height: 80%;
    position:relative;
    width: 14%;
    float:left;
    margin: 0 3% 0 3%;
}
.menu li a {
    text-align: center;
    display: inline-block;
    padding: 8% 0 8%;
    position: relative;
    color: #fff;
    text-decoration:none;
}

.category img{
    cursor: pointer;
}

/**********Item Page***********/
fieldset{
    margin-top: 2%;
    margin-bottom: 3%;
    width: 90%;
    border: 2px groove #f6c8d3;
}
legend{
    font-family:Zapfino;
    font-size: 3vw;
    color: #f3b1cd;
    font-weight: bold;
}

.itemShowTable{
    margin-top: 5%;
    margin-bottom: 3%;
    width: 90%;
    font-family: Gabriola;
}

.itemShowTable th{
    width: 25%;
    height: 20%;
    font-size: 2vw;
    color: hotpink;
    text-align: center;
    font-weight:bold;
}

.itemShowTable td{
    width: 25%;
    height: 20%;
    text-align: center;
    font-size: 1.3vw;
}

.itemShowTable input{
    width: 30%;
    font-size: 1vw;
}
.itemShowTable button{
    margin-left: 5%;
    width: 30%;
    font-size: 0.8vw;
}