.body{
    height:65%;
    overflow: hidden;
    background-color: #bf62aa;
}
.left{
    width:20%;
    height:100%;
    float:left;
    background-color: #bf62aa;
    overflow: hidden;
}
.right{
    width:80%;
    height: 100%;
    float:left;
    background-color: #fdf6fd;
    overflow: hidden;
}
/**********left menu*********/
.menuPersonal{
    width:100%;
    height:100%;
    font-family:'Economica', Curlz MT;
    font-weight: bold;
}
.menuPersonal ul {
    width:100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menuPersonal ul li {
    text-decoration: none;
    color: white;
    font-size: 1.6vw;
    padding: 5% 5%;
    background-color:#bf62aa;
    display:block;
    cursor: pointer;
}
.menuPersonal ul li:hover {
    color: hotpink;
    background-color:#fdf6fd;
    cursor: pointer;
}

/*************Right Field************/
fieldset{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
    height: 100%;
    border: 2px groove #f6c8d3;
}
legend{
/*    font-family:Zapfino;*/
    font-size: 2vw;
    color: #f3b1cd;
    font-weight: bold;
}

/************Personal Info***********/
.PersonalInfo{
    margin-top: 8%;
    text-align: right !important;
    width: 55%;
    height: 65%;
}

.PersonalInfo div{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1vw;
}
.PersonalInfo input{
    width: 45%;
    margin-left: 5%;
    font-size: 1vw;
}

.radio{
    width: 45%;
    margin-left: 7%;
    display: inline-block;
    overflow: hidden;
    font-size: 1vw;
}
.radio input{
    width: 10%;
}
#updatePersonalInfo{
    width: 50%;
    line-height: 250%;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
    float:right;
    text-shadow: 1px 1px 1px #333;
    border-radius: 5px;
    margin: 5% 15% 15% 0;
    border: 1px solid #f9edef;
    box-shadow: 0 1px 2px #f6c8d3 inset,0 -1px 0 #e9d2d8 inset,0 -2px 3px #fcecef inset;
    background: -webkit-linear-gradient(top,#f7afc8,#f3b1cd);    
}




/********** History Table ***********/
.itemShowTable{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 95%;
    font-family: Gabriola;  
}

.itemShowTable td{
    width: 17%;
    height: 20%;
    text-align: center;
    font-size: 1.2vw;

}
.itemShowTable th{
    width: 16.5%;
    height: 20%;
    font-size: 1.3vw;
    color: hotpink;
    text-align: center;
    font-weight:bold;
}